<div>
  <link href="./project.css" rel="stylesheet" />
  <div class="project-container">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1514924013411-cbf25faa35bb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=400"
      class="project-image"
    />
    <div class="project-container1">
      <span class="project-text"><span>Project Name</span></span>
      <span class="project-text1">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </span>
      </span>
      <a
        href="https://github.com/tushig0826"
        target="_blank"
        rel="noreferrer noopener"
        class="project-link button"
      >
        <span>Go to the project.</span>
      </a>
    </div>
  </div>
</div>
